html, body {
    height: 100%;
    margin: 0;
}
section {
    min-height: 100vh;
}
.titulo-section {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    padding: 1.5rem 0 1.5rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.branco {
    color: white;
}
.conteudo-centralizado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Seção home */
section:nth-child(1) {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
    url(../img/fundo.jpg);
}
.conteudo-home {
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: center;
}
.nome {
    font-size: 3em;
    text-transform: uppercase;
    transform: scale(1, 1.2);
}
.funcao {
    font-size: 2em;
    margin: .8em 0 2em 0;
}
.botao {
    position: relative;
    color: #FF7530;
    width: 256px;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    margin-left: 50%;
    transform: translate(-50%);
}
.botao a {
    text-decoration: none;
    color: #FF7530;
    text-transform: uppercase;
}
.botao::before, 
.botao::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.me-conheca::before {
    opacity: 0;
    background: rgba(230, 122, 122, 0.1);
    transform: scale(1, 0.1);
    border-radius: 60px;
}
.me-conheca::after {
    transition: all 0.3s;
    border: 2px solid #FF7530;
    border-radius: 60px;
}
.me-conheca:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    cursor: pointer;
}
.me-conheca:hover::after {
    transform: scale(1, .1);
    opacity: 0;
    cursor: pointer;
}
/* Seção Sobre Mim */
section:nth-child(2) {
    position: relative;
}
.conteudo-sobre-mim {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em 0 2em;
}
.imagem {
    flex: 1;
}
.minha-foto {
    max-width: 450px;
    border-radius: 10px;
    max-height: 80vh;
}
.sobre-mim {
    flex: 2;
    align-self: center;
    margin-left: 2em;
}
.sobre-mim-titulo,
.sobre-mim-descricao {
    font-family: 'Abel', sans-serif;
}
.sobre-mim-titulo {
    font-size: 3em;
    padding-bottom: 1em;
    text-transform: uppercase;
}
.sobre-mim-descricao {
    font-size: 1.5em;
    text-align: justify;
}

/* Seção Portifolio */
section:nth-child(3) {
    position: relative;
    background-color: #f2f2f2;
}
.conteudo-portifolio {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2em;
}
.projeto {
    clear: both;
    position: relative;
    align-self: center;
    width: 500px;
    height: 400px;
    margin: 1em;
    background-color: white;
}
.projeto .descricao {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 100%;
    max-height: 30%;
    position: relative;
    padding-top: 1em;
}
.projeto .descricao .titulo {
    font-weight: bold;
}
.projeto .descricao .titulo,
.projeto .descricao .texto {
    font-family: 'Abel', sans-serif;
    padding: .5em;
    text-transform: uppercase;
}
.projeto .descricao .titulo {
    font-size: 1.3em;
}
.projeto .imagem {
    width: 100%;
    height: 70%;
    position: relative;
}
.projeto:nth-of-type(1) .imagem {
    background-color: #272725;
}
.projeto:nth-of-type(2) .imagem {
    background-color: #C62C34;
}
.projeto .imagem > img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.projeto .imagem:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* Seção Tecnologias */
/* section:nth-child(4) {
    background: rgb(252, 252, 252);
} */
/* Seção Contatos */
section:last-of-type {
    position: relative;
    min-height: 0;
    background-color: #272725;
}
.conteudo-contatos {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1.5rem;
}
.icones-redes-sociais {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-around;
}
.icones-redes-sociais a {
    margin: 1em;
    width: 2em;
    height: 2em;
    display: block;
    text-indent: -99999px;
    position: relative;
    background-size: 100%;
}
.icones-redes-sociais > li::before {
    content: '';
    display: block;
    position: absolute;
    width: 4em;
    height: 4em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    transform: scale(.7);
}
.github {
    transform: scale(.9);
    background-image: url(../img/github.svg);
}
.instagram {
    transform: scale(.7);
    background-image: url(../img/instagram.svg);
}
.linkedin {
    background-image: url(../img/linkedin.svg);
}
/* Modal */
.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}
.modal:target {
	opacity:1;
	pointer-events: auto;
}
.modal > div {
    width: 70vw;
    height: 95vh;
    position: absolute;
	padding: 2em;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fechar {
	color: black;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
    width: 24px;
    margin: 1em;
	text-decoration: none;
	font-weight: bold;
}
.fechar:hover {
    background: black;
    color: white;
}
.modal h2 {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
}
.modal h2,
.modal p {
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.modal p {
    text-align: justify;
}
.imagens-grid {
}
.imagens-grid,
.tecnologias-utilizadas {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    width: auto;
}
.imagens-grid > div,
.tecnologias-utilizadas > div {
    padding: 0 .5em 0 .5em;
}
.imagens-grid div img {
    width: auto;
    max-width: 40vw;
    max-height: 50vh;
}
.tecnologias-utilizadas div img {
    width: 2em;
    height: 2em;
}
/* Modal InfoBeacons */
#infobeacons > div:nth-of-type(1),
#q8rn > div:nth-of-type(1) {
    position: relative;
    overflow: auto;
}
/* Tooltips */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tecnologias-utilizadas div img:hover + .tooltiptext {
    visibility: visible;
}