@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald|Poiret+One');

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    height: inherit;
}
/* Sections */
section {
    height: 100%;
}
/* section::after {
    content: '';
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    bottom: 0;
    left: 50%;
    background-color: white;
} */
section#principal {
    background-color: black;
    /* background: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(../img/fundo.jpg); */
}
section#segunda {
    background-color: red;
}
section#terceira {
    background-color: purple;
}
section#quarta {
    background-color: greenyellow;
}
.inicio {
    position: absolute;
    margin-top: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: center;
}
.nome,
.funcao {
    margin: 2rem;
}
.nome {
    font-size: 3em;
}
.funcao {
    font-size: 2em;
}
.botao {
    position: relative;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    margin-left: 50%;
    transform: translate(-50%);
}
.botao::before, 
.botao::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.botao-comecar::before {
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1, 0.1);
}
.botao-comecar:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.botao-comecar::after {
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.botao-comecar:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}
.botao .texto-botao{
    text-transform: uppercase;
}