html, body {
    height: 100%;
    margin: 0;
}
section {
    height: 100vh;
}
.avancar {
    position: relative;
    bottom: .5em;
    left:50%;
    width: 1em;
    height: 1em;
    border-bottom: .5em solid #000000;
    border-left: .5em solid #000000;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: sobe-desce 1s infinite;
    animation: sobe-desce 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
section:nth-child(1) {
    background: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url(../img/fundo.jpg);
}
.inicio {
    position: relative;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 0 1em 0 1em;
}
.nome {
    font-size: 3em;
    text-transform: uppercase;
    transform: scale(1, 1.2);
}
.funcao {
    font-size: 2em;
    margin: .8em 0 2em 0;
}
.botao {
    position: relative;
    color: #FF7530;
    width: 256px;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    margin-left: 50%;
    transform: translate(-50%);
}
.botao a {
    text-decoration: none;
    color: #FF7530;
    text-transform: uppercase;
}
.botao::before, 
.botao::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.me-conheca::before {
    opacity: 0;
    background: rgba(230, 122, 122, 0.1);
    transform: scale(1, 0.1);
    border-radius: 60px;
}
.me-conheca::after {
    transition: all 0.3s;
    border: 2px solid #FF7530;
    border-radius: 60px;
}
.me-conheca:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.me-conheca:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}
section:nth-child(2) {
    background: rgb(215, 215, 215);
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
}
.minha-foto {
    flex: 1;
    width: 35%;
    height: auto;
    border-radius: 10px;
    padding: 3rem 1rem 3rem 3rem;
}
.sobre-mim {
    flex: 2;
    margin-left: 2em;
    align-self: center;
    width: 60%;
}
.sobre-mim-titulo,
.sobre-mim-descricao {
    font-family: 'Abel', sans-serif;
    text-align: justify;
}
.sobre-mim-titulo {
    font-size: 3em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}
.sobre-mim-descricao {
    font-size: 1.2em;
}
section:nth-child(3) {
    background: purple;
}
section:nth-child(4) {
    background: red;
}
section:last-of-type {
    position: relative;
}
section:last-of-type p {
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.icones-redes-sociais {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    bottom: 0;
    padding: .5em;
}
.icones-redes-sociais a {
    margin: 1em;
    width: 4em;
    height: 4em;
    display: block;
    text-indent: -99999px;
    position: relative;
    background-size: 100%;
}
.github {
    background-image: url(../img/github.svg);
}
.instagram {
    background-image: url(../img/instagram.svg);
}
.linkedin {
    background-image: url(../img/linkedin.svg);
}