@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald|Poiret+One');

header {
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  width: 100%;
  z-index: 1;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding: 1em 0 1em 0;
}
.menu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu a:before,
.menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.menu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.menu li:hover a,
.menu .current a {
  transform: translateY(100%);
}
