.scrollUp {
    transform: translateY(-10em);
    transition: 1s;
}
.scrollDown {
    top: 0;
    transition: .5s;
}
@media all and (max-width: 950px){
    .container {
        flex-flow: column wrap;
    }
    .minha-foto {
        max-width: 300px;
        max-height: 30vh;
        padding: 0;
    }
    .sobre-mim {
        margin-left: 0;
        margin-top: 1em;
        max-height: 60vh;
    }
    .sobre-mim-titulo {
        text-align: center;
        font-size: 2.5em;
    }
    .sobre-mim-descricao {
        overflow: auto;
        font-size: 1em;
    }
    .icones-redes-sociais a {
        width: 3em;
        height: 3em;
    }
    .icones-redes-sociais > li::before {
        width: 5em;
        height: 5em;
    }
    section:last-of-type h1 {
        font-size: 2em;
    }
    .whatsapp-box img {
        width: 3.5em;
    }
}
@media all and (max-width: 550px){
    .minha-foto {
        max-width: 200px;
    }
    .sobre-mim-titulo {
        font-size: 1.5em;
    }
    section:last-of-type {
        height: 100vh;
    }
}
@media all and (max-width: 400px){
    .sobre-mim-titulo {
        font-size: 1em;
    }
    .nome {
        font-size: 2em;
    }
    .funcao {
        font-size: 1em;
    }
    .botao {
        width: 150px;
    }
    .nome-whatsapp {
        font-size: 1em;
    }
}
@media all and (max-width: 320px){
    .minha-foto {
        max-width: 150px;
    }
    .sobre-mim-descricao {
        font-size: 1em;
    }
}
@media all and (max-width: 200px){
    .whatsapp-box img {
        width: 2em;
    }
}