.scrollUp {
    transform: translateY(-10em);
    transition: 1s;
}
.scrollDown {
    top: 0;
    transition: .5s;
}
@media all and (max-width: 950px){
    .conteudo-sobre-mim {
        flex-flow: column wrap;
    }
    .minha-foto {
        max-width: 300px;
        max-height: 30vh;
        padding: 0;
    }
    .sobre-mim {
        margin-left: 0;
        margin-top: 1em;
        max-height: 60vh;
    }
    .sobre-mim-titulo,
    .titulo-section {
        text-align: center;
        font-size: 2.5em;
    }
    .sobre-mim-descricao {
        font-size: 1em;
    }
    .conteudo-portifolio {
        padding-bottom: 3em;
    }
    .modal > div {
        width: 95vw;
    }
}
@media all and (max-width: 550px){
    .minha-foto {
        max-width: 200px;
    }
    .projeto {
        width: 90%;
        margin: 1em 0 1em 0;
    }
    .imagens-grid div img {
        max-width: 40vw;
        max-height: 40vh;
    }
}
@media all and (max-width: 400px), (max-height: 400px){
    .sobre-mim-titulo,
    .titulo-section {
        font-size: 1.5em;
    }
    .nome {
        font-size: 2em;
    }
    .funcao {
        font-size: 1em;
    }
    .botao {
        width: 150px;
    }
    .projeto {
        width: 80vw;
        height: 60vw;
    }
    .projeto .descricao {
        padding-top: .3em;
    }
    .projeto .descricao .titulo {
        font-size: 4vw;
    }
    .projeto .descricao .texto {
        font-size: 3vw;
    }
    .rodape {
        font-size: .4em;
    }
    .imagens-grid div img {
        max-width: 30vw;
        max-height: 30vh;
    }
}
@media all and (max-width: 320px){
    .minha-foto {
        max-width: 70vw;
    }
    .sobre-mim-descricao {
        font-size: 1em;
    }
}