.scrollUp {
    transform: translateY(-10em);
    transition: 1s;
}
.scrollDown {
    top: 0;
    transition: .5s;
}
@media all and (max-width: 950px){
    .container {
        flex-direction: column;
    }
    .minha-foto {
        align-self: center;
        padding: 0;
    }
    .sobre-mim {
        padding: 2em 0 0 0;
        width: 100%;
    }
    .sobre-mim-titulo {
        font-size: 1.5em;
    }
    .sobre-mim-descricao {
        font-size: 1em;
    }
}
@media all and (max-width: 550px){
    .minha-foto {
        width: 145px;
        height: 165px;
    }
}
@media all and (max-width: 320px){
    .sobre-mim-titulo {
        font-size: 1.5em;
    }
    .sobre-mim-descricao {
        font-size: 1em;
    }
}
@media all and (max-width: 400px){
    .nome {
        font-size: 2em;
    }
    .funcao {
        font-size: 1em;
    }
    .botao {
        width: 150px;
    }
}
@media all and (max-width: 320px){
    .sobre-mim {
        padding-top: 1em;
    }
    .sobre-mim-titulo {
        font-size: 1em;
    }
    .sobre-mim-descricao {
        font-size: .8em;
    }
}