@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald|Poiret+One');

.rodape {
    font-size: .8em;
    color: white;
    padding: 1em;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'Poiret One', cursive;
}